@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
},
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.customers{
    background-color: rgb(255, 154, 81);
}

h2 {
    font-family: "Patua One", serif;
    font-size: xx-large;
    letter-spacing: 3px;
    text-align: center;
    background-color: rgb(255, 154, 81);
    color: azure;
}

.entry {
    background-color: dodgerblue;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.ticketBooth {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
}

.attractions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30rem;
}

.attraction {
    flex: 1;
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
    text-align: center;
    background-color: rgb(66, 245, 146, .75);
}

.people {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25rem;
}

.person {
    height: 1rem;
    width: 1rem;
    margin: 0.2rem 0.2rem;
}

.eater {
    background-color: fuchsia;
    border: .3rem dotted dodgerblue;
    border-radius: 15%;
}

.rider {
    background-color: dodgerblue;
    border: .3rem dotted rgb(30, 255, 49);
    border-radius: 15%;
}

.bigSpender {
    background-color: orange;
    border: .3rem dotted rgb(255, 30, 116);
    border-radius: 15%;
}

.player {
    background-color: rgb(0, 252, 42);
    border: .3rem dotted rgb(255, 30, 30);
    border-radius: 15%;
}

.gawker {
    background-color: firebrick;
    border: .3rem dotted rgb(154, 30, 255);
    border-radius: 15%;
}

.customers {
    font-weight: 700;
    padding: 1rem;
}

.ticketDisplay {
    padding: 1rem;
    background-color: dodgerblue;
    font-weight: bold;
    color: azure;
}